
<div ng-controller="PersonalCtrl"> 
  <!-- / header -->
  <div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
          Personal Details
        </div>
        <div class="panel-body"> 
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" type="text" value="" placeholder="Enter first name..."></input> 
              </div>

              <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" value="" placeholder="Enter last name..."></input> 
              </div>

              <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="text" value="" placeholder="Enter email..."></input> 
              </div>

              <div class="form-group">
                <label class="control-label">Mobile / Phone</label>
                <input class="form-control" type="text" value="" placeholder="Enter mobile phone..."></input> 
              </div>

            </form>
          </div>

          <div class="col-md-6">  
            <p>Photo</p> 
                <div class="inline bg-white wrapper-sm b-a" style="height:150px;width:150px">
                  <div class="bg-light">
                    <img height="128" width="128" ng-src="{{myImage}}" src="http://localhost:8080/wheresmystock/src/img/a1.jpg" />
                  </div>
                </div> 
                <div class="">
                  Select an image file
                  <input type="file" id="fileInput" />
                </div>
          </div> 
        </div> 
        <div class="panel-footer">
          <button class="btn btn-primary">Save</button> 
        </div>
      </div>
  </div>  
</div>