
<div ng-controller="SecurityCtrl">
  <!-- header --> 
  <!-- / header -->
  <div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
          Security
        </div>
        <div class="panel-body">  
          <div class="col-md-6">
            <form>
                <div class="form-group">
                  <label class="control-label">Old password</label>
                  <input type="password" class="form-control"></input>
                </div>
                <div class="form-group">
                  <label class="control-label">New password</label>
                  <input type="password" class="form-control"></input>
                </div>
                <div class="form-group">
                  <label class="control-label">Confirm new password</label>
                  <input type="password" class="form-control"></input>
                </div>
            </form>
          </div> 
        </div>
        <div class="panel-footer"> 
            <button class="btn btn-primary">Save</button> 
        </div>
      </div>
  </div>  
</div>



