
<div ng-controller="CompanyCtrl"> 
  <!-- / header -->
  <div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
          Company Profile
        </div>
        <div class="panel-body"> 
            <div class="col-md-6">
              <form>
                <div class="form-group">
                  <label class="control-label">Company Name</label>
                  <input class="form-control" type="text" value="" placeholder="Enter company name..."></input> 
                </div>

                <div class="form-group">
                  <label class="control-label">Address</label>
                  <input class="form-control" type="text" value="" placeholder="Enter company address..."></input> 
                </div>

                <div class="form-group">
                  <label class="control-label">Suburb</label>
                  <input class="form-control" type="text" value="" placeholder="Enter company suburb..."></input> 
                </div>
   
              </form>
            </div>

            <div class="col-md-6">  
              <p>Logo</p> 
                  <div class="inline bg-white wrapper-sm b-a" style="height:150px;width:150px">
                    <div class="bg-light">
                      <img height="128" width="128" ng-src="{{companyImage}}" src="http://localhost:8080/wheresmystock/src/img/default_company_logo.png"/>
                    </div>
                  </div> 
                  <div class="">
                    Select an image file
                    <input type="file" id="fileInput" />
                  </div>
            </div> 
            <form>
              <div class="row">
                <div class="col-md-12"> 
                <div class="col-md-6">
                  <label class="control-label">Country</label>
                  <select class="form-control">
                      <option>Australia</option>
                      <option>United States</option>
                      <option>United Kingdom</option>
                      <option>New Zealand</option>
                      <option>Other</option> 
                  </select>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"> 
              <div class="col-md-3"> 
                <label class="control-label">State</label>
                <select class="form-control">
                    <option>VIC</option>
                    <option>NSW</option>
                    <option>WA</option>
                    <option>QLD</option>
                    <option>ACT</option> 
                </select>
              </div> 
              <div class="col-md-3"> 
                <label class="control-label">Postcode</label>
                <input class="form-control" type="text" value="" placeholder="Enter company postcode..."></input> 
              </div>
            </div>  
            </div>
            </form> 
      </div> 

        <div class="panel-footer">
          <button class="btn btn-primary">Save</button> 
        </div>

      </div>
  </div>  
</div>