
<div ng-controller="SubscriptionCtrl">
  <!-- header -->
  <div class="wrapper bg-light lter b-b">
    <h3>Subscription</h3>
  </div>
  <!-- / header -->
  <div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
          Subscription Profile
        </div>
        <div class="panel-body"> 
        </div>
      </div>
  </div>  
</div>