<div class="bg-light lter b-b wrapper-md ng-scope">
  <h1 class="m-n font-thin h3">Account Settings</h1>
</div>
<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col w-md bg-light dk b-r bg-auto">    
    <div class="wrapper hidden-sm hidden-xs" id="email-menu">
      <ul class="nav nav-pills nav-stacked nav-sm">
        <li ui-sref-active="active">
          <a ui-sref="settings.account.personal">Personal</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.account.company">Company Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.account.security">Security</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.account.subscription">Subscription</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.account.team">Team</a>
        </li>
      </ul>      
    </div>
  </div>
  <div class="col">
    <div ui-view ></div>
  </div>
</div>