
<div ng-controller="CurrencyCtrl">
  <!-- header -->
  <div class="wrapper bg-light lter b-b">
    <h3>Currency</h3>
  </div>
  <!-- / header -->
  <div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
          Currency Settings
        </div>
        <div class="panel-body">
          <form editable-form name="editableForm" onaftersave="saveUser()">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-3 control-label">Default Currency:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-select="currency" e-ng-options="s.value as s.text for s in currencies">
                      {{ showCurrency(currency) }}
                    </span>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                  <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    Edit
                  </button>
                  <!-- buttons to submit / cancel form -->
                  <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                      Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                      Cancel
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>  
</div>