
<div ng-controller="RemindersCtrl">
  <!-- header -->
  <div class="wrapper bg-light lter b-b">
    <h3>Reminders</h3>
  </div>
  <!-- / header -->
  <div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
          Reminders Settings
        </div>
        <div class="panel-body">
          <form editable-form name="editableForm" onaftersave="saveUser()">
            <div class="form-inline">              
              <div class="form-group">                
                <div class="col-sm-12 col-md-12">                  
                  <p class="form-control-static">
                    <div class="checkbox">
                      <label class="i-checks">
                        <input type="checkbox">
                        <i></i>
                        Send email notifications when stock of product is below
                      </label>
                    </div>
                    <span editable-text="productAmount">
                      {{ productAmount }}
                    </span>
                    <div class="checkbox">
                      <label class="i-checks">                        
                        amount
                      </label>
                    </div>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 col-md-9">
                  <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    Edit
                  </button>
                  <!-- buttons to submit / cancel form -->
                  <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                      Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                      Cancel
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>  
</div>