
<div ng-controller="PriceGroupCtrl">
  <!-- header -->
  <div class="wrapper bg-light lter b-b">
    <h3>Price Groups</h3>
  </div>
  <!-- / header -->
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        List of Price Group
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
          <tr style="font-weight: bold">
            <td style="width:35%">Price Group Name</td>
            <td style="width:20%">Discount Amount</td>
            <td style="width:20%">Discount Type</td>
            <td style="width:25%">&nbsp;</td>
          </tr>
          <tr ng-repeat="group in priceGroups">
            <td>
              <!-- editable username (text with validation) -->
              <span editable-text="group.name" e-name="name" e-form="rowform" e-required>
                {{ group.name || 'empty' }}
              </span>
            </td>
            <td>
              <!-- editable status (select-local) -->
              <span editable-text="group.discount" e-name="discount" e-form="rowform">
                {{ group.discount }}
              </span>
            </td>
            <td>
              <!-- editable group (select-remote) -->
              <span editable-select="group.type" e-name="type" e-form="rowform" e-ng-options="s.value as s.text for s in types">
                {{ showTypes(group.type) }}
              </span>
            </td>
            <td style="white-space: nowrap">
              <!-- form -->
              <form editable-form name="rowform" onbeforesave="savePriceGroups($data, group.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == group">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                  save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                  cancel
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                <button class="btn btn-danger" ng-click="removePriceGroups($index)">delete</button>
              </div>  
            </td>
          </tr>
        </table>
        
      </div>
      <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">          
        </div>
        <div class="col-sm-4 text-center">
          <button class="btn btn-dark" ng-click="addPriceGroups()">Add new price group</button>
        </div>
        <div class="col-sm-4 text-right text-center-xs"> 
        </div>
      </div>
    </footer>
    </div>
  </div>  
</div>