<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Products Sales</h1>
</div>
<div class="wrapper-md">
  <div ng-controller="IntelligenceProductsCtrl">
    <div class="row">
      <div class="col-md-12">
    
    <div class="col-md-9">
     <div class="panel panel-default">
          <div class="panel-heading font-bold">Filter criteria</div>
          <div class="panel-body">
        <form role="form">
    <form class="form-horizontal"> 

       <div class="form-group col-md-5">
          <label class="col-sm-2 control-label">From</label>
          <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>

       <div class="form-group col-md-5">
          <label class="col-sm-2 control-label">To</label>
          <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div> 
        <div class="col-sm-2">
       <button class="btn btn-primary">Apply</button>
       </div>
  </form>
  <div class="clearfix col-sm-12" >
  
  <div class="btn-group" style="float:right;margin-top:10px;" data-toggle="buttons">
            <label class="btn btn-primary {{dayActive}}" ng-click="SetDay()">
            <input type="radio" name="options" id="option1" autocomplete="off" > Day
            </label>
            <label class="btn btn-primary {{weekActive}}" ng-click="SetWeek()">
            <input type="radio" name="options"  id="option2" autocomplete="off"> Week
            </label>
            <label class="btn btn-primary {{monthActive}}" ng-click="SetMonth()">
            <input type="radio" name="options" id="option3" autocomplete="off" checked> Month
            </label>
        </div>
  </div>

  </form>
       
          </div>
          
        </div>
     <div class="row">
     <div class="col-md-12">
     <div class="panel panel-default">
          <div class="panel-heading font-bold">Sales</div>
          <div class="panel-body">
      	<div id="filled_green" style="height:500px" >
			</div>
		
            <!--div ui-jq="plot" ui-options="
              [
                { data: {{d0_1}}, label: 'A', points: { show: true }, lines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } } }, 
                { data: {{d0_2}}, label: 'B', points: { show: true, radius: 4 },lines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } } }
              ],
              {
                colors: [ '{{app.color.info}}','{{app.color.warning}}' ],
                series: { shadowSize: 2 },
                xaxis:{ font: { color: '#ccc' } },
                yaxis:{ font: { color: '#ccc' } },
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                tooltip: true,
                tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
              }
            " style="height:320px">
			</div-->
      
       
          </div>
          
        </div>
    </div>
      </div>
    </div>
    
     <div class="col-md-3">
      <div class="panel panel-default">
          <div class="panel-heading font-bold">Add/Remove Products</div>
          <div class="panel-body" style="min-height: 715px">
      <div class="row">
        <div class="col-md-8" style="">
            <select  class="form-control col-md-12" ng-model="productId">
              <option value="0">--Select--</option>
              <option value="1">Shirt #1</option>
              <option value="2">Shirt #2</option>
              <option value="3">Shirt #3</option>
            </select>
        </div>
       <div class="col-md-4"> 
        <button class="btn m-b-xs btn-sm btn-primary btn-addon" style="width:33px;" ng-click="SetGraph()"><i class="glyphicon glyphicon-plus" aria-hidden="true" ></i> </button> 
         
       </div>
       </div>
      
        <br/>
        <h4>Shown in graph:</h4>
        <table class="table">
            <tr ng-repeat="_rec in SelectedData" style="margin-bottom: 20px;">
                <td style="width:30px;" >
                  <div style="background-color: {{_rec.color}};text-align:center;width:30px;height:30px;">
                  </div>
                </td>
                <td style="vertical-align:middle;">
                   <label style="font-size:15px;">{{_rec.label}}</label>
                </td>
                <td style="vertical-align:middle ">
                  <button class="btn btn-default pull-right" ng-click="close($index)" > 
                  <i class="glyphicon glyphicon-minus"></i> </button>
                    <!--a ng-click="close($index)" style="cursor:pointer">X </a-->
                </td>
            </tr>
        </table>
          </div>
          
        </div>
    </div>
    
    
       
      </div>
     </div>
   
   <!----end row------------------>
  </div>
</div>
 