<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Bestsellers</h1>
</div>
<div class="wrapper-md">
  <div ng-controller="IntelligenceBestsellersCtrl">
    <div class="row">
      <div class="col-md-12">
    
    <div class="col-md-12">
     <div class="panel panel-default">
          <div class="panel-heading font-bold">Filter</div>
          <div class="panel-body">
        <form role="form"> 
  <div class="clearfix col-sm-12" > 
  <div class="col-md-6">  
      <label class="control-label col-sm-4">Select date</label>
      <div class="orderDateRangePicker input-group col-sm-6" >
              <input ui-jq="daterangepicker" ui-options="{
                  format: 'YYYY-MM-DD',
                  startDate: '2013-01-01',
                  endDate: '2013-12-31'
                }" class="form-control w-md " />
        <span class="input-group-btn ">
                <button type="button"  class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        
        </div>  
  </div>
 
    <div class="col-sm-6"> 
  

      <button class="btn btn-primary pull-right" ng-click="applyFilters()">Refresh</button>
      </div>   
  </div>

  </form>
       
          </div>
          
        </div>
     <div class="row">
     
         <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">{{tableTitle}}</div>
              <div class="panel-body">
                 <div class="pull-right"> <button class="btn btn-primary">Export to CSV</button></div>
              <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                <tr>
                  <th st-sort="sku">SKU</th>
                  <th st-sort="productName">Product name</th>
                  <th st-sort="quantitySold">Units sold</th>
                  <th st-sort="totalSales" st-sort-default="reverse" >Total sales</th> 
                </tr>
                <tr>
                  <th colspan="4"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedCollection">
                  <td>{{row.sku}}</td>
                  <td>{{row.productName}}</td>
                  <td>{{row.quantitySold}}</td>
                  <td>{{row.totalSales| currency: "AU$ " }}</td> 
                </tr>
                </tbody>
              </table>
            </div>

              </div> 
            </div>
        </div>

      </div>
    </div>
     
    
       
      </div>
     </div>
   
   <!----end row------------------>
  </div>
</div>
<script src="../bower_components/moment/moment.js"></script>
 