<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Total Sales</h1>
</div>
<div class="wrapper-md">
  <div ng-controller="IntelligencePeriodCtrl">
    <div class="row">
      <div class="col-md-12">
    
    <div class="col-md-12">
     <div class="panel panel-default">
          <div class="panel-heading font-bold">Filter</div>
          <div class="panel-body">
        <form role="form">
    <!--<form class="form-horizontal"> 

       <div class="form-group col-md-5">
          <label class="col-sm-2 control-label" style="top:5px">From</label>
          <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" disabled class="form-control" datepicker-popup="" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>

       <div class="form-group col-md-5">
          <label class="col-sm-2 control-label" style="top:5px">To</label>
          <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" disabled class="form-control" datepicker-popup="" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div> 
        <div class="col-sm-2">
       <button class="btn btn-primary disabled">Apply</button>
       </div>
  </form>-->
  <div class="clearfix col-sm-12" >
 <!-- <div class="col-sm-6">
    <label>Filter sales by :   </label>
    <div class="btn-group" style="left:50px" data-toggle="buttons">
              <label class="btn btn-primary" ng-click="TestAlert()">
              <input type="radio" name="options" id="option1" autocomplete="off" > Day
              </label>
              <label class="btn btn-primary" ng-click="SetWeek()">
              <input type="radio" name="options"  id="option2" autocomplete="off"> Week
              </label>
              <label class="btn btn-primary active" ng-click="SetMonth()">
              <input type="radio" name="options" id="option3" autocomplete="off" checked> Month
              </label>
    </div>
  </div>-->
  <div class="col-md-6">  
      <label class="control-label col-sm-4">Select date</label>
      <div class="orderDateRangePicker input-group col-sm-6" >
              <input ui-jq="daterangepicker" ui-options="{
                  format: 'YYYY-MM-DD',
                  startDate: '2013-01-01',
                  endDate: '2013-12-31'
                }" class="form-control w-md " />
        <span class="input-group-btn ">
                <button type="button"  class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        
        </div>  
  </div>
 
    <div class="col-sm-6">
      <label>Show sales for : </label>
      <div class="btn-group" style="left:50px" data-toggle="buttons">
          
          <label class="btn btn-primary {{lastWeekActive}}" ng-click="lastWeekFilter()">
          <input type="radio" name="options"  id="option2" autocomplete="off"> Last week
          </label>
          <label class="btn btn-primary {{lastThirtyActive}}" ng-click="thirtyDaysFilter()">
          <input type="radio" name="options" id="option3" autocomplete="off" checked> 30 days ago
          </label>
        </div> 
      </div>   
  </div>

  </form>
       
          </div>
          
        </div>
     <div class="row">
     <div class="col-md-12">
     <div class="panel panel-default">
          <div class="panel-heading font-bold">{{chartTitle}}</div>
          <div class="panel-body">
             <div id="chart-period" style="height:500px"></div>
          </div>
          
        </div>
    </div>
      </div>
    </div>
     
    
       
      </div>
     </div>
   
   <!----end row------------------>
  </div>
</div>
<script src="../bower_components/moment/moment.js"></script>
 