<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  
  <li ui-sref-active="active">
    <a ui-sref="app.orders">
      <i class="glyphicon glyphicon-list-alt icon text-info-dker"></i>
      <span class="font-bold"  >Sales Orders</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      <!-- <b class="badge bg-info pull-right">9</b> -->
      <i class="glyphicon glyphicon-list icon text-info-lter"></i>
      <span class="font-bold" >Inventory</span>
    </a>
  </li>

  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" >Intelligence</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>Intelligence</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="intelligence.products">
          <span>Products Sales</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="intelligence.totalsales"> 
          <span>Total Sales</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="intelligence.bestsellers"> 
          <span>Bestsellers</span>
        </a>
      </li>
    </ul>
  </li> 

  <li ng-class="{active:$state.includes('settings')}">
    <a href ui-sref-active="active" class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-cog icon text-primary-dker"></i>
      <span class="font-bold" >Settings</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ng-class="{active:$state.includes('settings.store')}">
        <a ui-sref="settings.store.pricegroup" ui-sref-active="active">
          <span>Store</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="settings.account.personal">
          <span>Account</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="settings.integration.personal"> 
          <span>Integration</span>
        </a>
      </li>
    </ul>
  </li>  
  
</ul>
<!-- / list -->
