.ChartContainer{width: 900px; height: 500px; text-align: center; margin: 10px; position: relative;}
.ChartContainer div#filled_green{width: 100%; height: 100%;border:2px solid;}
.filter{position: absolute; top: 80px;left:100px;width:785px;}