<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Sales Orders</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      Sales Orders
    </div>
	<div class="dateRangeForm form-group">
		<strong class="control-label col-sm-2 ">Select date range</strong>
		<div class="orderDateRangePicker input-group col-sm-3" >
            <input ui-jq="daterangepicker" ui-options="{
                format: 'YYYY-MM-DD',
                startDate: '2013-01-01',
                endDate: '2013-12-31'
              }" class="form-control w-md " />
			  <span class="input-group-btn ">
                <button type="button"  class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
			  
        </div>
		<a class="col-sm-4 createOrderBtn" ui-sref="app.createorderform"><button class="btn btn-default">Create a New Order</button></a>
	</div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="{
          sAjaxSource: 'api/datatable.json',
          aoColumns: [
            { mData: 'orderNo' },
            { 
              mData: 'transactionAmount' 
            },
            { mData: 'shippingDate' },
            { mData: 'status' }
          ],
		  paging: false,
		  searching:false
        }" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:20%">Order #</th>
            <th  style="width:25%">Transaction Amount</th>
            <th  style="width:25%">Shipping Date</th>
            <th  style="width:15%">Status</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>




	<!-- <div class="form-group orderDateRange">
        <label class="col-sm-2 control-label">Order Date range</label>
        <div class="col-sm-6">
            <input ui-jq="daterangepicker" ui-options="{
                format: 'YYYY-MM-DD',
                startDate: '2013-01-01',
                endDate: '2013-12-31'
              }" class="form-control w-md" />
        </div>
		<div class="col-sm-4">
			<a href="#"><button class="btn btn-default btnCreateNewOrder" href="#">Create New Order</button></a>
		</div>
		  
	</div> -->
