


<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Form Wizard</h1>
</div>

<div class="wrapper-md">

  <tabset class="tab-container" ng-init="steps={step1:true, step2:false, step2Dis:true, 
  step3:false, step3Dis:true, step4:false, step4Dis:true}">
    <tab heading="Create" active="steps.step1" >
     
      <h1>Create New Order</h1>
	  <div ui-view="createorder"></div>
        
        <div class="createCanceldiv">
          <button class="ebtn btn btn-default" 
		  ng-click="steps.step2Dis=false;steps.step2=true;$route.reload()">Create</button>
		            <button class="ebtn btn btn-default">Cancel</button>
        </div>
    </tab>
    <tab heading="Ship" disabled="steps.step2Dis" active="steps.step2"  ng-click="$route.reload()">
		<h1>Ship the order</h1>
		<div ui-view="readytoship"></div>
		<div class="createCanceldiv">
          <button class="ebtn btn btn-default" ng-click="steps.step3Dis=false;steps.step3=true;$route.reload()" >Ship</button>
		  <button class="ebtn btn btn-default" >Cancel</button>
        </div>
    </tab>
	<tab heading="Pay" disabled="steps.step3Dis" active="steps.step3" ng-click="$route.reload()">
		<h1>Pay for the order</h1>
		<div ui-view="readytopay"></div>
		
    </tab>
	<tab heading="Review" disabled="steps.step4Dis" active="steps.step4" ng-click="$route.reload()">
		<h1>Review order</h1>
		<div ui-view="readytoreview"></div> 
    </tab>
  </tabset>
</div>