<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Editable</h1>
</div> -->
<div class=" col-sm-12">
	<div class="col-sm-2">
		<strong >Default Price Group</strong>
	</div>
	<div class="col-sm-4">
		<strong>Order Date</strong>
	</div>
	<div class="col-sm-2">
		<strong>Currency</strong>
	</div>

</div>
<div class="form-group col-sm-12">
	<div class="col-sm-2">
		<select class="form-control" ng-model="correctlySelected" ng-options="opt as opt.label for opt in pricegroups">
		</select>
	</div>
	<div class="col-sm-4">
		<div ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>
	</div>
	<div class="col-sm-2">
		<input class="form-control" type="text" ng-model="currency" disabled></input>
	</div>
</div>



<div class=" col-sm-12" >
	<div class="col-sm-2">
		<strong >Reference Number</strong>
	</div>
	<div class="col-sm-4">
		<strong>Order Number</strong>
	</div>

</div>
<div class="col-sm-12">
	<div class="col-sm-2">
		<input class="form-control" type="text" ></input>
	</div>
	<div class="col-sm-4">
		<label>{{orderNumber}}</label>
	</div>
</div>



<div class="wrapper-md col-sm-12">
  <!-- <h4>Editable row</h4> -->
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:20%">Item Name</td>
      <td style="width:10%">Quantity</td>
      <td style="width:10%">In Stock</td>
      <td style="width:10%">Unit Price</td>
	  <td style="width:10%">Discount</td>
	  <td style="width:10%">Tax</td>
	  <td style="width:20%">Total</td>
	  <td style="width:10%">Edit</td>
	  
    </tr>
    <tr ng-repeat="item in items">
      <td class="v-middle">
        <!-- editable itemname (text with validation) -->
        <span editable-select="item.id" e-ng-options="p.id as p.name for p in products" e-form="rowform" 
              onbeforesave="checkName($data)" e-required e-name="id"  >
          {{ showProductName(item.id) || 'Enter Name of a product' }}
        </span>
        <!--<span  editable-text="item.name" e-name="name" e-form="rowform" onbeforesave="checkName($data)" e-required>
          {{ item.name || 'Enter Name of a product' }}
        </span>-->
      </td>
      <td class="v-middle">
        <!-- editable quantity (text with validation) -->
        <span editable-text="item.quantity" e-name="quantity" e-form="rowform" onbeforesave="checkName($data)"  
              e-required>
          {{ item.quantity }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable instock (select-remote) -->
        <span e-name="instock" e-form="rowform" >
          {{ item.instock }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable unitprice (select-remote) -->
        <span e-name="unitprice" e-form="rowform" >
          {{ item.unitprice | currency : "AU$ " : 2 }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable discount (select-remote) -->
        <span editable-text="item.discount" e-name="discount" e-form="rowform" >
          {{ item.discount | currency : "AU$ " : 2 }}
        </span>
      </td>
	  <td class="v-middle">
        <!-- editable tax (select-remote) -->
        <span e-name="tax" e-form="rowform" >
          {{ item.tax | currency : "AU$ " : 2  }}
        </span>
      </td>
	  <td class="v-middle">
        <!-- editable total (select-remote) -->
        <span e-name="total" e-form="rowform" >
          {{ item.total = (item.unitprice * item.quantity)*1 + item.tax * 1 - item.discount | currency : "AU$ " : 2  }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveItem($data, item)" onaftersave="updateRow($data, item)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == item">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-sm btn-danger" ng-click="removeItem($index)">remove</button>
        </div>  
      </td>
    </tr>
  </table>

  <a class="m-b-lg addNewRow" ng-click="addItem()">+ Add a new product</a>


</div>