
<div class="row" ng-controller="DataTable">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-4">
			<strong class="pull-right">Invoice</strong>
		</div>
		<div class="col-sm-3">
			<div class="pull-left">
				<button class="btn btn-default">Print</button>
				<button class="btn btn-default">Email</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-4">
			<strong class="pull-right" > 
					Shipping label 
			</strong>
		</div>
		<div class="col-sm-3">
			<div class="pull-left">
				<button class="btn btn-default">Print</button> 
			</div>
		</div>
	</div>
		<div class="col-sm-12">
			<h2>Items in the Order</h2>
		</div> 
		

	<div class="wrapper-md col-sm-12">
	  <div class="panel panel-default">
		<div class="table-responsive">
		  <table class="table table-striped b-t b-b">
			<thead>
			  <tr>
				<td style="width:30%">Item Name</td>
				<td style="width:10%">Quantity</td> 
				<td style="width:10%">Unit Price</td>
				<td style="width:10%">Discount</td>
				<td style="width:10%">Tax</td>
				<td style="width:20%">Total</td>
			  </tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
				<td style="width:30%">{{item.name}}</td>
				<td style="width:10%">{{item.quantity}}</td> 
				<td style="width:10%">{{item.unitprice | currency:"AU$ "}}</td>
				<td style="width:10%">{{item.discount| currency:"AU$ "}}</td>
				<td style="width:10%">{{item.tax}}</td>
				<td style="width:20%">{{item.total| currency:"AU$ "}}</td>
			  </tr>
			</tbody>
		  </table>
		</div>
			
	  </div>
	  <div >
		  <div class=" col-sm-4 floatLeft" >
			<strong>Shipping Method: </strong>
			<label>{{shippingMethodName}}</label><br>
			<strong>Shipping Fee: </strong>
			<label>{{shippingMethodFee|currency:"AU$"}}</label><br>
			<strong>Shipping Tracking Number: </strong>
			<label>{{trackingNumber}}</label><br>
			<strong>Payment Method: </strong>
			<label>{{pMethod}}</label><br>
			<strong>Payment Reference Number: </strong>
			<label>{{referenceNumber}}</label><br>
			
		  </div>
		  <div class="col-sm-4">
		  <br><br><br><br>
			<strong>Payment date: </strong>
			<label>{{dt}}</label>
		  </div>
		  <div class="col-sm-4 floatRight" >
			<strong>Shipping Fee: </strong>
			<label>{{shippingMethodFee|currency:"AU$"}}</label>
			
			<br>
			<h2>Total : {{t=(totalSum*1+shippingMethodFee*1|currency:"AU$ ")}} </h2>
				
		  </div>
	  </div>
	</div>
</div>  
		 