
<div class="row" ng-controller="DataTable">
	<div class="col-sm-2">
		<strong >Tracking Number</strong>
	</div>
	<div class="col-sm-2">
		<input class="form-control" ng-model="trackingnumber" type="text"  ng-change="onTrackingNumberChange()"></input>
	</div>
	<div class="col-sm-2">
		<strong>Shipping Method</strong>
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="shippingMethod" ng-options="method.name for method in shippingMethods" ng-change="updateShippingMethod()">
			
		</select>
	</div>

<div class="wrapper-md col-sm-12">
  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped b-t b-b">
        <thead>
          <tr>
			<td style="width:30%">Item Name</td>
			<td style="width:10%">Quantity</td>
			<td style="width:10%">In Stock</td>
			<td style="width:10%">Unit Price</td>
			<td style="width:10%">Discount</td>
			<td style="width:10%">Tax</td>
			<td style="width:20%">Total</td>
          </tr>
		  
        </thead>
        <tbody>
			<tr ng-repeat="item in items">
				<td style="width:30%">{{item.name}}</td>
				<td style="width:10%">{{item.quantity}}</td>
				<td style="width:10%">{{item.instock}}</td>
				<td style="width:10%">{{item.unitprice | currency:"AU$ " : 2}}</td>
				<td style="width:10%">{{item.discount| currency:"AU$ " : 2}}</td>
				<td style="width:10%">{{item.tax| currency:"AU$ " : 2}}</td>
				<td style="width:20%">{{item.total| currency:"AU$ " : 2}}</td>
			</tr>
        </tbody>
      </table>
    </div>
	
  </div>
	<div class="floatRight" >
	  <div class="floatRight" >
			<strong>Shipping Fee: </strong>
			<label>{{shippingMethod.value|currency:"AU$"}}</label>
			
		</div>
		<br>
		  <div  >
			<h2>Total : {{t=(totalSum*1+shippingMethod.value*1|currency:"AU$")}} </h2>
			
		</div>
	</div>
</div>
</div>  
		  <!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Datatable</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      DataTables
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="{
          sAjaxSource: 'api/datatableItems.json',
          aoColumns: [
            { mData: 'itemName' },
            { mData: 'quantity' },
            { mData: 'instock' },
            { mData: 'unitprice' },
			{ mData: 'discount' },
			{ mData: 'tax' },
            { mData: 'total' }
          ],
		  paging:false,
		  searching:false
        }" class="table table-striped b-t b-b">
        <thead>
          <tr>
			<td style="width:30%">Item Name</td>
			<td style="width:10%">In Stock</td>
			<td style="width:10%">Quantity</td>
			<td style="width:10%">Unit Price</td>
			<td style="width:10%">Discount</td>
			<td style="width:10%">Tax</td>
			<td style="width:20%">Total</td>
          </tr>
		  
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div> -->