
<div>
	<!-- tab -->
	<div ng-controller="DataTable">
	  <div class="panel panel-default">
		<div class="table-responsive">
		  <table class="table table-striped b-t b-b">
			<thead>
			  <tr>
				<td style="width:30%">Item Name</td>
				<td style="width:10%">Quantity</td> 
				<td style="width:10%">Unit Price</td>
				<td style="width:10%">Discount</td>
				<td style="width:10%">Tax</td>
				<td style="width:20%">Total</td>
			  </tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
				<td style="width:30%">{{item.name}}</td>
				<td style="width:10%">{{item.quantity}}</td> 
				<td style="width:10%">{{item.unitprice | currency:"AU$ "}}</td>
				<td style="width:10%">{{item.discount| currency:"AU$ "}}</td>
				<td style="width:10%">{{item.tax}}</td>
				<td style="width:20%">{{item.total| currency:"AU$ "}}</td>
			  </tr>
			</tbody>
		  </table>
		</div>
			
	  </div>
	  <div >
		  <div class="floatLeft" >
			<strong>Shipping Method: </strong>
			<label>{{shippingMethodName}}</label>
			
		  </div>
		  <div class="floatRight" >
			<strong>Shipping Fee: </strong>
			<label>{{shippingMethodFee|currency:"AU$"}}</label>
			
			<br>
			<h2>Total : {{t=(totalSum*1+shippingMethodFee*1|currency:"AU$ ")}} </h2>
				
		  </div>
	  </div>
		  
		<div class="row"> 
			<div class="col-sm-4">
				<strong >Payment Method</strong>
				<div class="row">
					<div class="col-sm-12">
						<select class="form-control" 
								ng-model="paymentMethod" 
								ng-options="method.name for method in paymentMethods" ng-change="updatePaymentMethod(this)"> 
						</select>
					</div>
				</div>
			</div>
			
			<div class="col-sm-3" ng-show="payViewState.paypal.show">
				<strong> Choose: </strong> 
	            <div class="radio">
	              <label class="i-checks">
	                <input type="radio" name="paypalOption" ng-model="payViewState.paypal.receipt" value="receipt" ng-change="onPaypalOptionChecked(value)">
	                <i></i>
	                I have a Paypal receipt number
	              </label>
	            </div>
	            <div class="radio">
	              <label class="i-checks">
	                <input type="radio" name="paypalOption" ng-model="payViewState.paypal.pay" value="pay" ng-change="onPaypalOptionChecked(value)">
	                <i></i>
	                Make a Paypal payment now
	              </label>
	            </div>
			</div>

			<div class="col-sm-5" ng-show="payViewState.paypal.receipt && !payViewState.cash.show">
				<div class="row">
					<div class="col-sm-10"> 
					<strong >Reference Number (Receipt number)</strong>
				</div>
				</div>
				<div class="row">
					<div class="col-sm-10"> 
						<input class="form-control" ng-model="paypalReferenceNumber" type="text" ng-change="onPaypalReferenceNumberChange(this)"></input> 
					</div>
				</div>
			</div>

			<div class="col-sm-5 col-sm-offset-3" ng-show="payViewState.cash.show">
				<div class="row">
					<div class="col-sm-10"> 
					<strong >Cash Reference Number (Receipt number)</strong>
				</div>
				</div>
				<div class="row"> 
					<div class="col-sm-10"> 
						<input class="form-control" ng-model="cashReferenceNumber" type="text" ng-change="onCashReferenceNumberChange(this)"></input> 
					</div>
				</div>
			</div>

			<div class="col-sm-5" ng-show="payViewState.paypal.show && payViewState.paypal.pay">
				<div class="row">
					<strong >Click “Pay” to pay  with Paypal</strong>
				</div>
				<div class="row">
					<p>Click the button below to pay via Paypal. </p>
					<p>Your order will be automatically updated with the Paypal receipt number once the order is completed.</p>
				</div>
			</div>

		</div>
<br/><br/> 

		<!-- Paypal view -->

		<div class="row" ng-show="!payViewState.paypal.pay || payViewState.cash.show">
			<div class="col-sm-11" ng-show="true">
			  <button class="btn btn btn-default col-sm-2 pull-right {{ 
			  	(!payViewState.paypal.show && !payViewState.cash.show) || 
			  	(payViewState.paypal.show && !payViewState.paypal.receipt && !payViewState.pay) ? 'disabled' : ''}}" 
				  ng-click="steps.step4Dis=false;steps.step4=true;">Pay</button> 
			</div>
		</div>


		<div class="row" ng-show="payViewState.paypal.pay && !payViewState.cash.show">
			<div class="col-sm-11" ng-show="true">
			  <button class="btn btn btn-default col-sm-3 pull-right " 
				  ng-click="openPaypal()">Pay now with <img height="30" src='./img/PayPal-logo-button-ready.png'></img></button> 
			</div>
		</div>
 
	</div>
     <!-- / tab -->

</div>  